.dubai {
  background-image: url("../images/dubai-1767540_960_720.jpg");
}

.istanbul {
  background-image: url("../images/istanbul-1094404_960_720.jpg");
}

.beirut {
  background-image: url("../images/street-3698917_960_720.jpg");
}

.doha {
  background-image: url("../images/doha-1844787_960_720.jpg");
}

.tehran {
  background-image: url("../images/photo-1533982023263-64b4091468ab.jpg");
}

.alexandria {
  background-image: url("../images/alexandria-1251930_960_720.jpg");
}

.jerusalem {
  background-image: url("../images/photo-1466175743059-5393a020726c.jpg");
}

.jeddah {
  background-image: url("../images/jeddah-652151_960_720.jpg");
}

.hero.hero-city {
  position: relative;
  justify-content: center;
  text-align: left;
  min-height: 100vh;
}

.hero .city-name {
  font: bold 40px Kodchasan;
  margin-bottom: 15px;
  color: white;
}

.hero h2 {
  font: normal 18px Kodchasan;
  margin-bottom: 40px;
  color: white;
}
.hero h3 {
  font: normal 18px Kodchasan;
  margin-bottom: 40px;
  color: white;
}

@media screen and (min-width: 768px) {
  .hero .city-name {
    font: bold 50px Kodchasan;
    margin-bottom: 15px;
    color: white;
  }

  .hero .city-pop {
    font: normal 25px Kodchasan;
    margin-bottom: 20px;
    color: white;
  }
  .hero h3 {
    font: normal 25px Kodchasan;
    margin-bottom: 40px;
    color: white;
  }
}